html {
    height: 100%;
    margin: auto;
    background: url('https://images2.alphacoders.com/722/thumb-1920-72270.jpg');
    background-size: 180%;
    background-repeat: no-repeat;
}

h1{
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 30px;
}

.lightBox {
    width: 7em;
    margin: auto;
    padding: 1em;
}

.pole {
    background-color: black;
    margin-top: ;
    width: 2em;
    height: 11em;
    margin: auto;
}

.light-background {
    border-color: white;
    border-style: groove;
    border-width: medium;
    background-color: black;
    width: 6em;
    border-radius: 12%;
    margin: auto;
    padding: 0.25em;
}

.light {
    width: 4em;
    height: 3.5em;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0.25;
    margin: 0.5em auto;
    z-index: 10000;
}

.off {
    opacity: 0.15;
}

.on {
    opacity: 1.5;
}


/* light colors start */

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.btn {
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: crosshair;
}
